header{
  background:#1f4d8c;
  color:white;
  padding:20px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

h1{
  margin:0;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:bold;
}

nav a:hover{
  text-decoration:underline;
}